.v-application {
  background: white !important;
}
div {
  margin: 0;
  padding: 0;
  @include font;
}
a {
  text-decoration: none;
  cursor: pointer;
}
#loading {
  z-index: 999;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: white;

  &-animate {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: {
      top: -100px;
      left: -80px;
    }
  }
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.v-application p {
  margin-bottom: 0 !important;
}
.animated {
  -webkit-animation-duration: 0.5s !important;
  animation-duration: 0.5s !important;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.ant-message {
  font-size: 18px!important;
  padding: 10px!important;
}
